.App {
  height: 100vh;
}

.Header {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
}

.Body {
  height: 100%;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#adadad;
}

.Footer p {
  padding-top: 5px;
  color: white;
  text-align: center;
  margin-bottom: 7px;
}